@import url('https://fonts.googleapis.com/css?family=Patrick+Hand|Patrick+Hand+SC&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Patrick Hand SC', cursive;
    font-family: 'Patrick Hand', cursive;
}

html, body{
    height: 100%;
    width: 100%;
}

header{
    border: 1px solid black;
    height: 9%;
}

header > nav{
    display: flex;
    height: 100%;
    justify-content: flex-start;
}

.contact-list{
    margin: 0 auto;
    border-radius: 7px;	
    border-bottom: 1px solid #343a40 !important;
    height: 75%;
    width: 75%;
    overflow: auto;
}

div.contact-list > thead > th{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 50;
}

.add-contact{
    margin: auto auto 10px;
    width: 75%;
    height: 10vh;
    display: flex;
    flex-direction: column;
}

.add-contact > button{    
    align-self: flex-end;
    margin: auto auto 0;
}

.add-contact > button > i{
    margin-right: 5px;
}

.action-column{
    display: flex;
}

.btn-group{
    margin: auto;
}

.dropdown-item{
    cursor: pointer;
}

.dropdown-item:hover{
    background-color: #e5e6e6!important; 
}

.h4-confirmation{
    text-align: center;
}

.contact-list > table th:nth-child(1), th:nth-child(3), td:nth-child(3){
    text-align: center;
}

.contact-list > td:nth-child(5){
    margin: auto;
}

table{
   margin-bottom: 0px !important;
}

.dropdown-menu{
    min-width: auto !important;
}

.show{
    right: 0px !important;
}

.dropdown-item{
    text-align: center !important;
    padding: .25rem 0.9rem !important;
}